<<<<<<< HEAD
.bn32 {
  border-color: #e9c46a;
  padding: 0.6em 2.3em;
  cursor: pointer;
  width: 220px;
  font-size: 1em;
  color: var(--secondary-bg);
  background-image: linear-gradient(
    45deg,
    var(--secondary-text) 50%,
    #e9c46a 50%
=======
.styledButton {
  font-size: 1.3em;
  padding: 0.6em 2.3em;
  color: #f4f4f4;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.5px hidden rgb(255, 255, 255);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.116);
  justify-content: center;
  text-align: center;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: ease-in-out 300ms, box-shadow 300ms ease-in-out;
}
.btn:hover {
  box-shadow: 2px 2px rgba(255, 255, 255, 0.561);
  transition: ease-in-out 300ms, box-shadow 300ms ease-in-out;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;

  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
>>>>>>> 6df9ae6659cf72b5e3b79b79cac248ecb68e59de
  );
  transition: transform 0.2s ease-in-out;
  background-position: 25%;
  background-size: 400%;
  border-radius: 5px;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: ease-in-out 300ms, box-shadow 300ms ease-in-out;
}
.bn32:hover {
  color: #264653;
  background-position: 100%;
  transition: ease-in-out 300ms, box-shadow 300ms ease-in-out;
  box-shadow: #264653 5px 5px;
}
