.bn32 {
  border-color: #e9c46a;
  padding: 0.6em 2.3em;
  cursor: pointer;
  width: 220px;
  font-size: 1em;
  color: var(--secondary-bg);
  background-image: linear-gradient(
    45deg,
    var(--secondary-text) 50%,
    #e9c46a 50%
  );
  transition: transform 0.2s ease-in-out;
  background-position: 25%;
  background-size: 400%;
  border-radius: 5px;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.bn32:hover {
  color: #264653;
  background-position: 100%;
  transition: ease-in-out 300ms, box-shadow 300ms ease-in-out;
  box-shadow: #264653 5px 5px;
}
