.styledButton {
  font-size: 1.3em;
  padding: 0.6em 2.3em;
  display: flex;
  color: var(--secondary-text);
  text-transform: capitalize;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.styledButton:focus,
.styledButton:hover {
  color: #fff;
}

.styledButton:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.styledButton:focus:after,
.styledButton:hover:after {
  width: 100%;
  left: 0%;
}
