#bg-video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  filter: blur(10px);
}

@media only screen and (max-width: 700px) {
  #video-container {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px) saturate(180%);
    -webkit-backdrop-filter: blur(30px) saturate(180%);
    background: linear-gradient(270deg, #001d3d, #003566, #ffc300, #ffd60a);
    background-size: 800% 800%;
    z-index: 0;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
}
