.portfolio__navbar {
  width: 100%;
  height: 100px;
  background: var(--secondary-footer);
}
.portfolio__navbar_links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--secondary-text);
}
.portfolio__navbar a {
  font-size: 20px;
  font-family: var(--font-family);
  text-decoration: none;

  display: flex;
  justify-content: center;
}
.portfolio__navbar_toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.portfolio__navbar_toggleButton svg {
  font-size: 50px;
  fill: var(--secondary-text);
}
.portfolio__navbar_toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: var(--secondary-text);
  cursor: pointer;
}

#open {
  height: 50vh;
}

#open .portfolio__navbar_links {
  flex-direction: column;
  justify-content: flex-start;
}
#open a {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .portfolio__navbar a {
    margin: 1vh;
  }
}

@media only screen and (max-width: 700px) {
  .portfolio__navbar_toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .portfolio__navbar_toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .portfolio__navbar_links {
    flex-direction: row;
  }
}
