.portfolio__navbar {
  width: 100%;
  height: 100px;
  background-color: rgba(51, 53, 51, 0);

  position: sticky;
  z-index: 2;
  transition: all 0.3s ease;
  text-decoration: none;
}

.portfolio__navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1px;
  border-radius: 1px;
  background-color: var(--secondary-text);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.portfolio__navbar:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.portfolio__navbar_links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--secondary-text);
  opacity: 100;
}
.portfolio__navbar a {
  font-size: 20px;
  font-family: var(--font-family);
  text-decoration: none;

  display: flex;
  justify-content: center;
}
.portfolio__navbar_toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.portfolio__navbar_toggleButton svg {
  font-size: 50px;
  fill: var(--secondary-text);
}
.portfolio__navbar_toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: var(--secondary-text);
  cursor: pointer;
}

#open {
  z-index: 2;
  height: 80vh;

  position: relative;
}

#open .portfolio__navbar_links {
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
}
#open a {
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media only screen and (max-width: 950px) {
  .portfolio__navbar a {
    margin: 1vh;
  }
}

@media only screen and (max-width: 950px) {
  .portfolio__navbar_toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 950px) {
  .portfolio__navbar_toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .portfolio__navbar_links {
    flex-direction: row;
  }
}
