.portfolio__experience {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 23px;
}
#bg-video_exp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.vertical-timeline-element-date {
  font-size: 35px !important;
  font-weight: 800 !important;
  color: #fff !important;
}
@media only screen and (max-width: 700px) {
  .portfolio__experience {
    background: linear-gradient(270deg, #001d3d, #003566, #ffc300, #ffd60a);
    background-size: 800% 800%;
    z-index: 0;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  #bg-video_exp {
    display: none;
  }
}
@media only screen and (max-height: 500px) {
  .portfolio__experience {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    animation: fadeInAnimation ease 3s forwards;
    background: linear-gradient(270deg, #001d3d, #003566, #ffc300, #ffd60a);
    background-size: 800% 800%;
    z-index: 0;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 32% 0%;
    }
    50% {
      background-position: 69% 100%;
    }
    100% {
      background-position: 32% 0%;
    }
  }
  #bg-video_exp {
    display: none;
  }
}
