.portfolio__projects {
  width: 100%;
  height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: var(--secondary-text);
  font-size: 34px;
  z-index: 1;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio__projects_projectList {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#bg-video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 700px) {
  .portfolio__projects_projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
  }
  #bg-video1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    object-fit: cover;
    z-index: -1;
  }
}
