.portfolio__projects {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--secondary-text);
  overflow: hidden;
  z-index: 1;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.portfolio__projects h2 {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  padding: 2rem;
  font-size: 50px;

  font-weight: bolder;
  background-color: rgba(red, green, blue, 0);
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio__projects_projectList {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.portfolio__projects_projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-height: 500px) {
  .portfolio__projects {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .portfolio__projects_projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
  }
}
