.portfolio__projectDisplay {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-subtext);
}

.portfolio__projectDisplay h1 {
  margin: 2rem;

  font-size: 30px;
}
.portfolio__projectDisplay img {
  max-width: 700px;
  border-radius: 10px;
}

.portfolio__projectDisplay p {
  font-size: 30px;
}

.portfolio__projectDisplay svg {
  font-size: 60px;
}

@media only screen and (max-width: 700px) {
  .portfolio__projectDisplay {
  }
}
