@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(103.22deg, #ffddd2 -13.86%, #e29578 99.55%);
  --gradient-bar: linear-gradient(103.22deg, #e76f51 -13.86%, #ffee00 99.55%);

  --primary-bg: #006d77;
  --primary-footer: #83c5be;
  --primary-text: #ffffff;
  --primary-subtext: #ffffff;

  --secondary-bg: #264653;
  --secondary-accent: #d62828;
  --secondary-footer: #e76f51;
  --secondary-text: #eae2b7;
  --secondary-subtext: #f4a261;
}
