@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat+Alternates&family=Montserrat:wght@300&family=Poppins:wght@100&family=Raleway:wght@300&display=swap");
:root {
  font-family: "Montserrat Alternates", sans-serif;

  --primary-bg: #006d77;
  --primary-footer: #83c5be;
  --primary-text: #ffffff;
  --primary-subtext: #eae2b7;

  --secondary-bg: #1b1b1e;
  --secondary-accent: #d62828;
  --secondary-footer: #333533;
  /* --secondary-text: #eae2b7; */
  --secondary-text: #eae2b7;
  --secondary-subtext: #fca311;
}
