@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  font-family: "Raleway", sans-serif;

  --primary-bg: #006d77;
  --primary-footer: #83c5be;

  --primary-subtext: #eae2b7;

  --secondary-bg: #1b1b1e;

  --secondary-footer: #333533;
  /* --secondary-text: #fff; */
  --secondary-text: ivory;
  --secondary-subtext: #fca311;
}
